<div class="row">
    <div class="col-3">
        <p>建物名</p>
    </div>
    <div class="col-9">
        <p>{{ Building.name_building }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>建物ID</p>
    </div>
    <div class="col-9">
        <p>{{ Building.id_building }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>緯度, 経度</p>
    </div>
    <div class="col-9">
        <p>{{ Building.address_lat }}, {{ Building.address_lon }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>危険度</p>
    </div>
    <div class="col-9">
        <p>{{ Building.risk_rate }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>管理者</p>
    </div>
    <div class="col-9">
        <p>{{ Building.own_user }}</p>
    </div>
</div>

