<div class="row">
    <div class="col-3">
        <p>サーバ識別名</p>
    </div>
    <div class="col-9">
        <p>{{ imagestorage.name }}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>サーバタイプ</p>
    </div>
    <div class="col-9">
        <p>{{imagestorage.server_type}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>自動更新</p>
    </div>
    <div class="col-9">
        <p>{{imagestorage.enable_update}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>処理内容</p>
    </div>
    <div class="col-9">
        <p>{{imagestorage.processing_type}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>処理対象</p>
    </div>
    <div class="col-9">
        <p>{{imagestorage.target}}</p>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <p>ユーザー</p>
    </div>
    <div class="col-9">
        <p>{{imagestorage.own_user}}</p>
    </div>
</div>

